[submodule "deps/Diffuman4D"]
	path = deps/Diffuman4D
	url = https://github.com/solipsist-studios/Diffuman4D
[submodule "deps/BiRefNet"]
	path = deps/BiRefNet
	url = https://github.com/ZhengPeng7/BiRefNet
[submodule "deps/sapiens"]
	path = deps/sapiens
	url = https://github.com/facebookresearch/sapiens
[submodule "deps/camera-calibration"]
	path = deps/camera-calibration
	url = https://github.com/solipsist-studios/camera-calibration
[submodule "deps/4d-gaussian-splatting"]
	path = deps/4d-gaussian-splatting
	url = https://github.com/solipsist-studios/4d-gaussian-splatting.git
[submodule "deps/OMG4"]
	path = deps/OMG4
	url = https://github.com/solipsist-studios/OMG4.git
